{% block form_row %}
    {% spaceless %}
        <div class="form-row">
            {% if compound %}
                {{ form_label(form) }}
                {{ form_widget(form, {'attr': {'flex': true, 'flex-order': 2}}) }}
                {{ form_errors(form) }}
            {% else %}
                {{ form_widget(form, {'attr': {'class':'form-input'}}) }}
                {{ form_label(form) }}
                {{ form_errors(form) }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul class="form__errors">
                {% for error in errors %}
                    <li class="form__error">{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
