{% import ':macro:display.html.twig' as display %}

<h2>Breaking it</h2>

<ul class="list">
    {% for round in record.rounds %}
        <li>
            <span class="text" style="display: inline;">
                shoot
                {% if round.count == 1 %}
                    a
                {% else %}
                    {{ round.count }}x
                {% endif %}
                {{ display.round(round.round) }}
                {% if round.skill|enum('skill') == Enum.skill.novice %}
                    ({{ round.skill|enum('skill') }})
                {% endif %}
                {% if round.gender %}
                    ({{ round.gender|enum('gender') }})
                {% endif %}
                {% if round.bowtype %}
                    ({{ round.bowtype|enum('bowtype') }})
                {% endif %}
                in a competition
            </span>
        </li>
    {% endfor %}
    <li><span class="text" style="display: inline;">shoot as part of {{ display.club(club) }} (as listed on the official results)</span></li>
    {% if record.numHolders > 1 %}
        <li><span class="text">shoot in a team of {{ record.numHolders }} (or fewer)</span></li>
    {% endif %}
</ul>
