{% extends '::base_sidebar.html.twig' %}

{# TODO clean this up... #}
{# TODO link people to profile #}

{% block title %}
    {{ record.displayName }}
{% endblock %}

{% block body %}
    {% set holders = record.currentHolders %}

    {% if holders is not empty %}
        <p>
            This record was set
            on {{ holders[0].date|date('d/m/Y') }}
            at {{ holders[0].location }}
            and is held by:
        </p>
        <ul class="list">
            {% set total = 0 %}
            {% for holder in record.currentHolders %}
                {% set total = total +  holder.scoreValue %}
                <li>
                    <a href="{{ url('person_detail', {'id': holder.person.id}) }}">{{ holder.person }}</a>
                    {% if holder.score %}
                        <a href="{{ url('score_detail', { 'id': holder.score.id }) }}" class="shrink">
                            {{ holder.scoreValue }}
                        </a>
                    {% else %}
                        <span class="text shrink">{{ holder.scoreValue }}</span>
                    {% endif %}
                </li>
            {% endfor %}
            {% if record.numHolders > 1 %}
                <li><strong>Total: </strong> {{ total }}</li>
            {% endif %}
        </ul>
    {% else %}
        <p>
            Nobody currently holds this record!
        </p>
    {% endif %}

    <p>To break this record you must shoot a round that matches the following requirements:</p>
    <ul class="list">
        <li><span class="text">shoot a {{ record.round.name }} in a competition</span></li>
        {% if record.skill == Enum.skill.novice %}
            <li><span class="text">be a novice</span></li>
        {% endif %}
        {% if record.gender %}
            <li><span class="text">be {{ record.gender|enum('gender') }}</span></li>
        {% endif %}
        {% if record.bowtype %}
            <li><span class="text">shoot {{ record.bowtype|enum('bowtype') }}</span></li>
        {% endif %}
        {% if record.numHolders %}
            <li><span class="text">shoot in a team of {{ record.numHolders }} (or fewer)</span></li>
        {% endif %}
    </ul>

    <h2>Past Holders</h2>
    {# TODO past holders #}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('record_award', { 'id': record.id }) }}">Award</a></li>
                <li><a href="{{ url('record_revoke', { 'id': record.id }) }}">Revoke</a></li>
                <li><a href="{{ url('record_edit', { 'id': record.id }) }}">Edit</a></li>
                <li><a href="{{ url('record_delete', { 'id': record.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}