{% extends '::base_sidebar.html.twig' %}

{# TODO clean this up... #}
{# TODO link people to profile #}

{% block title %}
    {{ record.displayName }}
{% endblock %}

{% block body %}
    {% set holder = record.currentHolder %}
    {% if holder %}
        <p>
            This record was set
            on {{ holder.date|date('d/m/Y') }}
            at {{ holder.location }}
            and is held by:
        </p>
        <ul class="list">
            {% for person in holder.people %}
                <li>
                    <a href="{{ url('person_detail', {'id': person.person.id}) }}">{{ person.person.name }}</a>
                    {% if person.score %}
                        <a href="{{ url('score_detail', { 'id': person.score.id }) }}" class="shrink">
                            {{ person.scoreValue }}
                        </a>
                    {% else %}
                        <span class="text shrink">{{ person.scoreValue }}</span>
                    {% endif %}
                </li>
            {% endfor %}
            {% if record.numHolders > 1 %}
                <li>
                    <span class="text">Total</span>
                    <span class="text shrink">{{ holder.score }}</span>
                </li>
            {% endif %}
        </ul>
    {% else %}
        <p>
            Nobody currently holds this record!
        </p>
    {% endif %}

    <p>To break this record you must shoot a round that matches the following requirements:</p>
    <ul class="list">
        <li><span class="text">shoot a {{ record.round.name }} in a competition</span></li>
        {% if record.skill == Enum.skill.novice %}
            <li><span class="text">be a novice</span></li>
        {% endif %}
        {% if record.gender %}
            <li><span class="text">be {{ record.gender|enum('gender') }}</span></li>
        {% endif %}
        {% if record.bowtype %}
            <li><span class="text">shoot {{ record.bowtype|enum('bowtype') }}</span></li>
        {% endif %}
        {% if record.numHolders %}
            <li><span class="text">shoot in a team of {{ record.numHolders }} (or fewer)</span></li>
        {% endif %}
    </ul>

    {% if record.holders|length > 1 %}
        <h2>Past Holders</h2>
        <ul class="list">
            {% for holder in record.holders[1:] %}
                <li>
                    <span class="text shrink">{{ holder.date|date('d/m/Y') }}</span>
                    <span class="text shrink">{{ holder.dateBroken|date('d/m/Y') }}</span>
                    <span class="text">
                        {% for person in holder.people %}
                            <a href="{{ url('person_detail', {'id': person.person.id}) }}">{{ person.person.name }}</a>
                            <span>&nbsp;-&nbsp;</span>
                            {% if person.score %}
                                <a href="{{ url('score_detail', { 'id': person.score.id }) }}" class="shrink">
                                    {{ person.scoreValue }}
                                </a>
                            {% else %}
                                {{ person.scoreValue }}
                            {% endif %}
                            {% if not loop.last %}
                                <span>,&nbsp;</span>
                            {% endif %}
                        {% endfor %}
                    </span>
                    {% if record.numHolders > 1 %}
                        <span class="text shrink">{{ holder.score }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('record_award', { 'id': record.id }) }}">Award</a></li>
                <li><a href="{{ url('record_revoke', { 'id': record.id }) }}">Revoke</a></li>
                <li><a href="{{ url('record_edit', { 'id': record.id }) }}">Edit</a></li>
                <li><a href="{{ url('record_delete', { 'id': record.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}