{% extends '::base.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    Records
{% endblock %}

{% block body %}
    {% for group in groups %}
        <h2>{{ group.name }}</h2>
        {% for subgroup in group.subgroups %}
            <h3>{{ subgroup.name }}</h3>

            <ul class="list record-sortable">
                {% for s_record in subgroup.records %}
                    {% set record = s_record.record %}
                    <li data-id="{{ record.id }}">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="shrink record-handle"><i class="fa fa-th"></i></a>
                        {% endif %}
                        {% if club %}
                            <a href="{{ url('record_detail', { 'id': record.id, 'club': club.id }) }}">{{ record.displayName }}</a>
                        {% else %}
                            <a href="#">{{ record.displayName }}</a>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <span class="actions">
                                <a href="{{ url('record_edit', { 'id': record.id }) }}"><i class="fa fa-pencil"></i></a>
                                <a href="{{ url('record_delete', { 'id': record.id }) }}"><i class="fa fa-trash-o"></i></a>
                            </span>
                        {% endif %}
                    </li>
                {% else %}
                    <li>No Records :(</li>
                {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') or club %}
        <div class="widget">
            <h2 class="widget-title">Actions</h2>
            <ul>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('record_create') }}">Create</a></li>
                {% endif %}
                {% if club %}
                    <li><a href="{{ url('record_pdf', { 'club': club.id }) }}">View as PDF</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_ADMIN') %}
        <script>
            (function ($) {
                $(function () {
                    $('.record-sortable').sortable({
                        handle: '.record-handle',
                        onUpdate: function () {
                            var order = this.toArray();

                            $.post('{{ url('record_order')|e('js') }}', {
                                records: order
                            });
                        }
                    });
                })
            })(jQuery);
        </script>
    {% endif %}
{% endblock %}
