{% if not score.complete %}
    <div>
        This score is not yet complete, click to view
        <a href="{{ url('score_live', { 'id': score.id }) }}">live scoring</a>
        {% if is_granted('SCORE', score) %}
            (or <em>you</em> can <a href="{{ url('score_input', { 'id': score.id }) }}">input scores</a>)
        {% endif %}
    </div>
{% endif %}


<dl>
    <dt>Date Shot</dt>
    <dd>
        {{ score.dateShot|date(DATE_FORMAT) }}
        {% if score.competition %}
            in Competition
        {% endif %}
        {% if not score.complete %}
            (in progress)
        {% endif %}
    </dd>
    <dt>Skill / Bow</dt>
    <dd>
        {{ score.skill|enum('skill') }} {{ score.bowtype|enum('bowtype') }}
    </dd>
    <dt>Score</dt>
    <dd>{{ score.score }}</dd>
    <dt>Golds</dt>
    <dd>{{ score.golds }}</dd>
    <dt>Hits</dt>
    <dd>{{ score.hits }}</dd>
    {% if score.complete %}
        <dt>Handicap</dt>
        <dd>{{ handicap }}</dd>
        <dt>Date Accepted</dt>
        <dd>
            {% if score.dateAccepted %}
                accepted {{ score.dateAccepted|date(DATE_FORMAT) }}
            {% else %}
                not yet accepted
            {% endif %}
        </dd>
    {% endif %}
</dl>
