{% extends '::base.html.twig' %}

{% block title %}
    Create Score
{% endblock %}

{% block body %}
    {{ form_start(form) }}

    <div layout="row" layout-padding layout-align="start center">
        {{ form_errors(form.date_shot) }}
        {{ form_label(form.date_shot) }}
        {{ form_widget(form.date_shot) }}

        {{ form_errors(form.competition) }}
        {{ form_label(form.competition) }}
        {{ form_widget(form.competition) }}
    </div>

    <div layout-padding layout-align="start center">
        {{ form_errors(form.round) }}
        {{ form_label(form.round) }}
        {{ form_widget(form.round) }}
    </div>

    <div layout-gt-md="row" layout-padding>
        <div flex-gt-md="33">
            {{ form_row(form.score) }}
        </div>
        <div flex-gt-md="33">
            {{ form_row(form.hits) }}
        </div>
        <div flex-gt-md="33">
            {{ form_row(form.golds) }}
        </div>
    </div>

    <div layout-gt-md="row" layout-padding>
        <div flex-gt-md layout="column" layout-gt-md="row">
            {{ form_errors(form.person) }}
            {{ form_label(form.person) }}
            {{ form_widget(form.person) }}
        </div>
        <div flex-gt-md layout="column" layout-gt-md="row">
            {{ form_errors(form.skill) }}
            {{ form_label(form.skill) }}
            {{ form_widget(form.skill) }}
        </div>
        <div flex-gt-md layout="column" layout-gt-md="row">
            {{ form_errors(form.bowtype) }}
            {{ form_label(form.bowtype) }}
            {{ form_widget(form.bowtype) }}
        </div>
    </div>

    <input type="submit" value="Create"/>
    <input type="submit" name="continue" value="Create & continue"/>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        'use strict';

        (function ($) {
            $('#{{ form.round.vars.id }}').select2();

            $('#{{ form.person.vars.id }}').select2().on('select2:select', function (e) {
                var personId = e.params.data.id;
                //TODO load & set skill + bowtype
            });

            $('#{{ form.skill.vars.id }}').select2();
            $('#{{ form.bowtype.vars.id }}').select2();

            // if time < now: show score
            // else: hide score
        })(jQuery);
    </script>

{% endblock %}
