{% extends 'base_sidebar.html.twig' %}

{% block title %}
    <a href="{{ url('person_detail', { 'id': score.person.id }) }}">{{ score.person.name }}</a> -
    <a href="{{ url('round_detail', { 'id': score.round.id }) }}">{{ score.round.name }}</a>
{% endblock %}

{% block body %}
    {% if not score.complete %}
        <div>
            This score is not yet complete, click to view
            <a href="{{ url('score_live', { 'id': score.id }) }}">live scoring</a>
            {% if is_granted('SCORE', score) %}
                (or <em>you</em> can <a href="{{ url('score_input', { 'id': score.id }) }}">input scores</a>)
            {% endif %}
        </div>
    {% endif %}

    <dl>
        <dt>Date Shot</dt>
        <dd>
            {{ score.dateShot|date('d/m/Y H:i') }}
            {% if score.competition %}
                in Competition
            {% endif %}
            {% if not score.complete %}
                (in progress)
            {% endif %}
        </dd>
        <dt>Skill / Bow</dt>
        <dd>
            {{ score.skill|enum('skill') }} {{ score.bowtype|enum('bowtype') }}
        </dd>
        <dt>Score</dt>
        <dd>{{ score.score }}</dd>
        <dt>Golds</dt>
        <dd>{{ score.golds }}</dd>
        <dt>Hits</dt>
        <dd>{{ score.hits }}</dd>
        {% if score.complete %}
            <dt>Handicap</dt>
            <dd>{{ handicap }}</dd>
            <dt>Date Accepted</dt>
            <dd>
                {% if score.dateAccepted %}
                    accepted {{ score.dateAccepted|date('d/m/Y') }}
                {% else %}
                    not yet accepted
                {% endif %}
            </dd>
        {% endif %}
    </dl>

    {% if is_granted('ROLE_ADMIN') %}
        {% include '::proof.html.twig' with { 'proofs': score.proof } only %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('SCORE', score) or is_granted('EDIT', score) or is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                {% if is_granted('SCORE', score) %}
                    <li><a href="{{ url('score_input', { 'id': score.id }) }}">Input Score</a></li>
                {% endif %}
                {% if is_granted('ACCEPT', score) %}
                    <li><a href="{{ url('score_accept', { 'id': score.id }) }}">Accept</a></li>
                {% endif %}
                {% if is_granted('EDIT', score) %}
                    <li><a href="{{ url('score_edit', { 'id': score.id }) }}">Edit</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('score_delete', { 'id': score.id }) }}">Delete</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
