{% extends 'base.html.twig' %}
{% import ':macro:display.html.twig' as display %}
{% from ':macro:proof.html.twig' import display_proof %}

{% block title %}
    {{ display.person(score.person) }} - {{ display.round(score.round) }}
{% endblock %}

{% block body %}
    {% include ':score:_detail.html.twig' with { 'score': score, 'handicap': handicap } only %}

    {% if is_granted('ROLE_ADMIN') %}
        {{ display_proof(score.proof) }}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted_any(['SCORE', 'EDIT', 'ACCEPT', 'ROLE_ADMIN'], score) %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                {% if is_granted('SCORE', score) %}
                    <li><a href="{{ url('score_input', { 'id': score.id }) }}">Input Score</a></li>
                {% endif %}
                {% if is_granted('ACCEPT', score) %}
                    <li><a href="{{ url('score_accept', { 'id': score.id }) }}">Accept</a></li>
                {% endif %}
                {% if is_granted('EDIT', score) %}
                    <li><a href="{{ url('score_edit', { 'id': score.id }) }}">Edit</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('score_delete', { 'id': score.id }) }}">Delete</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
