{% extends 'base_sidebar.html.twig' %}

{# TODO clean up #}

{% block body %}
    <h1>{{ score.person.name }} - {{ score.round.name }}</h1>
    <p>
        {{ score.skill|enum('skill') }} {{ score.bowtype|enum('bowtype') }}
        {% if score.competition %}
            in Competition
        {% endif %}
        {% if not score.complete %}
            (in progress)
        {% endif %}
    </p>
    <p>
        Shot on {{ score.dateShot|date('d/m/Y H:i') }}
        (added {{ score.dateEntered|date('d/m/Y') }},
        {% if score.dateAccepted %}
            accepted {{ score.dateAccepted|date('d/m/Y') }}
        {% else %}
            not yet accepted
        {% endif %}
        )
    </p>
    <dl>
        <dt>Score</dt>
        <dd>{{ score.score }}</dd>
        <dt>Golds</dt>
        <dd>{{ score.golds }}</dd>
        <dt>Hits</dt>
        <dd>{{ score.hits }}</dd>
    </dl>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('score_edit', { 'id': score.id }) }}">Edit</a></li>
                <li><a href="{{ url('score_delete', { 'id': score.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}