{% extends 'base_sidebar.html.twig' %}

{% block title %}
    <a href="{{ url('person_detail', { 'id': score.person.id }) }}">{{ score.person.name }}</a> -
    <a href="{{ url('round_detail', { 'id': score.round.id }) }}">{{ score.round.name }}</a>
{% endblock %}

{% block body %}
    <dl>
        <dt>Date Shot</dt>
        <dd>
            {{ score.dateShot|date('d/m/Y H:i') }}
            {% if score.competition %}
                in Competition
            {% endif %}
            {% if not score.complete %}
                (in progress)
            {% endif %}
        </dd>
        <dt>Skill / Bow</dt>
        <dd>
            {{ score.skill|enum('skill') }} {{ score.bowtype|enum('bowtype') }}
        </dd>
        <dt>Score</dt>
        <dd>{{ score.score }}</dd>
        <dt>Golds</dt>
        <dd>{{ score.golds }}</dd>
        <dt>Hits</dt>
        <dd>{{ score.hits }}</dd>
        <dt>Handicap</dt>
        <dd>{{ handicap }}</dd>
        <dt>Date Accepted</dt>
        <dd>
            {% if score.dateAccepted %}
                accepted {{ score.dateAccepted|date('d/m/Y') }}
            {% else %}
                not yet accepted
            {% endif %}
        </dd>
    </dl>

    {% if is_granted('ROLE_ADMIN') %}
        {% include '::proof.html.twig' with { 'proofs': score.proof } only %}
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('EDIT', score) or is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                {% if not score.dateAccepted and is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('score_accept', { 'id': score.id }) }}">Accept</a></li>
                {% endif %}
                <li><a href="{{ url('score_edit', { 'id': score.id }) }}">Edit</a></li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('score_delete', { 'id': score.id }) }}">Delete</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}