{% extends '::base.html.twig' %}

{% block title %}
    Scores
{% endblock %}

{% block body %}
    <ul class="list">
        {% for score in scores %}
            <li>
                <a href="{{ url('score_detail', { 'id': score.id }) }}">
                    {{ score.dateShot|date('Y-m-d') }} -
                    {{ score.person.name }} -
                    {{ score.round.name }} -
                    {{ score.score }}
                </a>
                {% if is_granted('ROLE_ADMIN') or is_granted('EDIT', score) %}
                    <span class="actions">
                        {% if not score.dateAccepted and is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('score_accept', { 'id': score.id, 'index': true }) }}">
                                <i class="fa fa-check"></i>
                            </a>
                        {% endif %}
                        <a href="{{ url('score_edit', { 'id': score.id }) }}"><i class="fa fa-pencil"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('score_delete', { 'id': score.id }) }}"><i class="fa fa-trash-o"></i></a>
                        {% endif %}
                    </span>
                {% endif %}
            </li>
        {% else %}
            <li>No Scores :(</li>
        {% endfor %}
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(scores) }}
    </div>

{% endblock %}

{% block sidebar %}
    {% from ':macro:filter.html.twig' import filter_link %}

    <div class="widget">
        <h3 class="widget-title">Filter</h3>
        <ul>
            <li>{{ filter_link('All', 'all') }}</li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li>{{ filter_link('Mine', 'mine') }}</li>
            {% endif %}
            <li>{{ filter_link('Competition', 'competition') }}</li>
            {% if is_granted('ROLE_ADMIN') %}
                <li>{{ filter_link('Unapproved', 'unapproved') }}</li>
            {% endif %}
        </ul>
        <h3 class="widget-title">Sort</h3>
        <ul>
            <li{% if scores.isSorted('s.date_shot') %} class="text-strong"{% endif %}>{{ knp_pagination_sortable(scores, 'Date Shot', 's.date_shot') }}</li>
            <li{% if scores.isSorted('s.score') %} class="text-strong"{% endif %}>{{ knp_pagination_sortable(scores, 'Score', 's.score') }}</li>
        </ul>
    </div>

    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('score_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
