{% extends '::base.html.twig' %}

{% block title %}
    Scores
{% endblock %}

{% block body %}
    <ul class="list">
        {% for score in scores %}
            <li>
                <a href="{{ url('score_detail', { 'id': score.id }) }}">
                    {{ score.dateShot|date('Y-m-d') }} -
                    {{ score.person.name }} -
                    {{ score.round.name }} -
                    {{ score.score }}
                </a>
                {% if is_granted('ROLE_ADMIN') or is_granted('EDIT', score) %}
                    <span class="actions">
                        {% if not score.dateAccepted and is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('score_accept', { 'id': score.id, 'index': true }) }}">
                                <i class="fa fa-check"></i>
                            </a>
                        {% endif %}
                        <a href="{{ url('score_edit', { 'id': score.id }) }}"><i class="fa fa-pencil"></i></a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('score_delete', { 'id': score.id }) }}"><i class="fa fa-trash-o"></i></a>
                        {% endif %}
                    </span>
                {% endif %}
            </li>
        {% else %}
            <li>No Scores :(</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('score_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
