{% extends '::base_sidebar.html.twig' %}

{% block title %}
    Live Scoring for
    <a href="{{ url('person_detail', { 'id': score.person.id }) }}">{{ score.person.name }}</a> -
    <a href="{{ url('round_detail', { 'id': score.round.id }) }}">{{ score.round.name }}</a>
{% endblock %}

{% block body %}
    <div id="scoring_app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ socketio_url }}/socket.io/socket.io.js"></script>
    <script src="{{ asset('js/scoring.js') }}"></script>
    <script>
        'use strict';

        (function (app) {
            var round = {{ score.round|json_encode|raw }};
            var score_id = {{ score.id }};
            var scoring = {{ scoring|default(false) ? 'true' : 'false' }};

            m.module($("#scoring_app")[0], {
                controller: function () {
                    var urls = {
                        'add': '{{ url('score_data_arrows_add', { 'id': score.id }) }}',
                        'amend': '{{ url('score_data_arrows_amend', { 'id': score.id }) }}',
                        'remove': '{{ url('score_data_arrows_remove', { 'id': score.id }) }}',
                        'socket.io': '{{ socketio_url }}'
                    };

                    app.vm.init(round, score_id, scoring, urls);
                },
                view: app.view
            })

        })(window['orbital']['scoring']);
    </script>

{% endblock %}