{% extends '::base_sidebar.html.twig' %}

{% block title %}
    Live Scoring for
    <a href="{{ url('person_detail', { 'id': score.person.id }) }}">{{ score.person.name }}</a> -
    <a href="{{ url('round_detail', { 'id': score.round.id }) }}">{{ score.round.name }}</a>
{% endblock %}

{% block body %}
    <div id="scoring_app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/scoring.js') }}"></script>
    <script>
        'use strict';

        (function (app) {
            var round = {{ score.round|json_encode|raw }};
            var score_id = {{ score.id }};
            var scoring = {{ scoring|default(false) ? 'true' : 'false' }};

            m.module($("#scoring_app")[0], {
                controller: function () {
                    app.vm.init(round, score_id, scoring);
                },
                view: app.view
            })

        })(window['orbital']['scoring']);
    </script>

{% endblock %}