{% extends '::base.html.twig' %}
{% import ':macro:display.html.twig' as display %}
{% from ':macro:proof.html.twig' import display_proof %}

{% block title %}
    Confirm Score
{% endblock %}
{% block body %}
    {{ form_start(form) }}

    <p>
        Please review the following proof for this score:
    </p>
    <dl>
        <dt>Person</dt>
        <dd>{{ display.person(score.person) }}</dd>
        <dt>Round</dt>
        <dd>{{ display.round(score.round) }}</dd>
        <dt>Score</dt>
        <dd>{{ score.score }}</dd>
        <dt>Date Shot</dt>
        <dd>{{ score.dateShot|date(DATE_FORMAT) }}</dd>
    </dl>

    {{ display_proof(score.proof, false) }}

    <div>
        <input type="submit" value="Confirm"> | <a href="{{ url('score_detail', { id: score.id }) }}">Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
