<dl>
    {% if is_granted('ROLE_ADMIN') %}
        {% if person.agbNumber %}
            <dt class="admin">ArcheryGB #</dt>
            <dd>{{ person.agbNumber }}</dd>
        {% endif %}
        {% if person.cid %}
            <dt class="admin">CID</dt>
            <dd>{{ person.cid }}</dd>
        {% endif %}
        {% if person.cuser %}
            <dt class="admin">College username</dt>
            <dd>{{ person.cuser }}</dd>
        {% endif %}
        {% if person.email %}
            <dt class="admin">Email</dt>
            <dd>
                <a href="mailto:{{ person.email|escape('html_attr') }}">
                    {{ person.email }}
                </a>
            </dd>
        {% endif %}
        {% if person.mobile %}
            <dt class="admin">Mobile</dt>
            <dd>{{ person.mobile }}</dd>
        {% endif %}
        {% if person.gender %}
            <dt class="admin">Gender</dt>
            <dd>{{ person.gender|enum('gender') }}</dd>
        {% endif %}
        {% if person.dateOfBirth %}
            <dt class="admin">
                DoB
            </dt>
            <dd>{{ person.dateOfBirth|date('d/m/Y') }}</dd>
        {% endif %}
    {% endif %}
    <dt>Skill</dt>
    <dd>{{ person.skill|enum('skill') }}</dd>
    {% if person.bowtype %}
        <dt>Preferred style</dt>
        <dd>{{ person.bowtype|enum('bowtype') }}</dd>
    {% endif %}
    <dt>Handicap</dt>
    <dd>
        {% if person.currentHandicap %}
            {{ person.currentHandicap.handicap }}
        {% else %}
            None
        {% endif %}
    </dd>
    <dt>Classification</dt>
    <dd>
        TODO
    </dd>
</dl>
