{% extends 'base.html.twig' %}

{% block title %}
    {{ person.name }}
    {% if person.namePreferred %}
        <small>({{ person.namePreferred }})</small>
    {% endif %}
{% endblock %}

{% block body %}
    {% include ':person:_detail.html.twig' with { 'person': person } only %}

    <h2>Badges</h2>
    {% include ':person:_badges.html.twig' with { 'person': person, 'badges': badges } only %}

    <h2>Records</h2>
    {% include ':person:_records.html.twig' with { 'person': person, 'records': records } only %}

    <h2>Recent Scores</h2>
    {% include ':person:_scores.html.twig' with { 'person': person, 'scores': scores } only %}

    <h2>Personal Bests</h2>
    {% include ':person:_scores.html.twig' with { 'scores': pbs, 'all': true } only %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('person_edit', { 'id': person.id }) }}">Edit</a></li>
                <li><a href="{{ url('person_handicap_reassess', { 'id': person.id }) }}">Reassess Handicap</a>
                </li>
                <li><a href="{{ url('person_delete', { 'id': person.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
