{% extends '::base.html.twig' %}

{% block title %}
    People
{% endblock %}

{% block body %}
    <ul class="list">
        {% for person in people %}
            <li>
                <a href="{{ url('person_detail', { 'id': person.id }) }}">
                    {{ person.name }}
                    {% if person.namePreferred %}({{ person.namePreferred }}){% endif %}
                </a>

                {% if is_granted('ROLE_ADMIN') %}
                    <span class="actions">
                        <a href="{{ url('person_edit', { 'id': person.id }) }}"><i class="fa fa-pencil"></i></a>
                        <a href="{{ url('person_delete', { 'id': person.id }) }}"><i class="fa fa-trash-o"></i></a>
                    </span>
                {% endif %}
            </li>
        {% else %}
            <li>No People :(</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h2 class="widget-title">Actions</h2>
            <ul>
                <li><a href="{{ url('person_import') }}">Import</a></li>
                <li><a href="{{ url('person_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
