{% extends '::base_sidebar.html.twig' %}

{% block body %}
    <h1>People</h1>


    <ul>
        {% for person in people %}
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('person_delete', { 'id': person.id }) }}"><i class="fa fa-trash-o"></i></a>
                    <a href="{{ url('person_edit', { 'id': person.id }) }}"><i class="fa fa-pencil"></i></a>
                {% endif %}
                <a href="{{ url('person_detail', { 'id': person.id }) }}">{{ person.name }}</a>
            </li>
        {% else %}
            <li>No People :(</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('person_import') }}">Import</a></li>
                <li><a href="{{ url('person_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}