{% import ':macro:display.html.twig' as display %}

<td class="shrink">
    {% if entry.bossNumber and entry.targetNumber %}
        {{ entry.bossNumber }}{{ entry.targetNumber|toLetter }}
    {% else %}
        -
    {% endif %}
</td>
{% if entry.person %}
    <td>{{ display.person(entry.person) }}</td>
{% else %}
    <td>{{ display.club(entry.club, 'text-italic') }}</td>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <td class="actions">
        {% if not entry.dateApproved %}
            <a href="{{ url('competition_entry_approve', { 'id': competition.id, 'entry_id': entry.id }) }}">
                <i class="fa fa-check"></i>
            </a>
        {% endif %}
        <a href="{{ url('competition_entry_edit', { 'id': competition.id, 'entry_id': entry.id }) }}">
            <i class="fa fa-pencil"></i>
        </a>
    </td>
{% endif %}
