{% import ':macro:display.html.twig' as display %}

<dl>
    <dt>Location</dt>
    <dd>{{ competition.location|default('Unknown') }}</dd>
    <dt>Date</dt>
    <dd>{{ competition.date|date('d/m/Y H:i') }}</dd>
    <dt>Rounds</dt>
    <dd>
        {% for round in competition.rounds %}
            {{ display.round(round) }}
            {% if not loop.last %}
                <span>,&nbsp;</span>
            {% endif %}
        {% endfor %}
    </dd>
    {% if competition.bossCount and competition.targetCount %}
        <dt>Total Spaces</dt>
        <dd>{{ competition.totalSpaces }}</dd>
        <dt>Spaces Left</dt>
        <dd>{{ competition.freeSpaces }}</dd>
    {% endif %}
</dl>
