{% import ':macro:display.html.twig' as display %}

<h3>
    {{ session.startTime|date(DATETIME_FORMAT) }}
    {% if is_granted('ROLE_ADMIN') or is_granted('ENTER', session) %}
        <small>
            {% if is_granted('ENTER', session) %}
                <a href="{{ url('competition_enter', { 'competition_id': competition.id, 'session_id': session.id }) }}">Enter</a>
                {% if is_granted('ROLE_ADMIN') %}, {% endif %}
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url('competition_session_edit', { 'competition_id': competition.id, 'id': session.id }) }}">Edit</a>,
                <a href="{{ url('competition_session_delete', { 'competition_id': competition.id, 'id': session.id }) }}">Delete</a>
            {% endif %}
        </small>
    {% endif %}
</h3>

<dl>
    <dt>Rounds</dt>
    <dd>
        {% for round in session.rounds %}
            {{ display.round(round.round) }}
            {% if not loop.last %},{% endif %}
        {% endfor %}
    </dd>
    {% if competition.isOpen %}
        <dt>Spaces</dt>
        <dd>
            {{ session.freeSpaces }} left out of {{ session.totalSpaces }}
        </dd>
    {% endif %}
</dl>

{% include 'competition/_session_target_list.html.twig' with { 'session': session } %}
