{% extends 'base.html.twig' %}

{% block title %}
    {{ competition.name }}
    {% if not competition.hosted %}
        <small> - Info Only</small>
    {% endif %}
{% endblock %}

{% block body %}
    {% if competition.description|trim %}
        <p>
            {{ competition.description }}
        </p>
    {% endif %}

    <dl>
        <dt>Location</dt>
        <dd>{{ competition.location|default('Unknown') }}</dd>
    </dl>

    {% if is_granted('ROLE_ADMIN') %}
        <h2>Sessions
            <small><a href="#">Add</a></small>
        </h2>
    {% else %}
        <h2>Sessions</h2>
    {% endif %}
    {% for session in competition.sessions %}
        <h3>{{ session.startDate|date(DATETIME_FORMAT) }}</h3>
    {% else %}
        <h3>There are no sessions!</h3>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                {% if competition.isOpen() %}
                    <li><a href="{{ url('competition_close', { 'id': competition.id }) }}">Close Entries</a></li>
                {% else %}
                    <li><a href="{{ url('competition_open', { 'id': competition.id }) }}">Open Entries</a></li>
                {% endif %}
                <li><a href="{{ url('competition_edit', { 'id': competition.id }) }}">Edit</a></li>
                <li><a href="{{ url('competition_delete', { 'id': competition.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}
