{% extends 'base.html.twig' %}

{% block title %}
    {{ competition.name }}
{% endblock %}

{% block body %}
    {% if competition.description|trim %}
        <p>
            {{ competition.description }}
        </p>
    {% endif %}

    {% include ':competition:_detail.html.twig' with { 'competition': competition } %}

    <h2>Entries</h2>
    <table>
        {% for entry in competition.entries %}
            <tr>{% include ':competition:_detail_entry.html.twig' with { 'entry': entry, 'competition': competition } %}</tr>
        {% else %}
            <tr>
                <td>There are no entries :(</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ENTER', competition) %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                {% if is_granted('ENTER', competition) %}
                    <li><a href="{{ url('competition_enter', { 'id': competition.id }) }}"> Enter </a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('competition_assign', { 'id': competition.id }) }}">Assign Targets</a></li>
                    <li><a href="{{ url('competition_edit', { 'id': competition.id }) }}">Edit</a></li>
                    <li><a href="{{ url('competition_delete', { 'id': competition.id }) }}">Delete</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Documents</h3>
            <ul>
                <li><a href="#">Target list</a></li>
                <li><a href="{{ url('competition_scoresheets', { 'id': competition.id }) }}">Score sheets</a></li>
                <li><a href="#">Running slips</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
