{% extends 'base.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    {{ competition.name }}
    {% if not competition.hosted %}
        <small> - Info Only</small>
    {% endif %}
{% endblock %}

{% block body %}
    {% if competition.description|trim %}
        <p>
            {{ competition.description }}
        </p>
    {% endif %}

    <dl>
        <dt>Location</dt>
        <dd>{{ competition.location|default('Unknown') }}</dd>
    </dl>

    <h2>
        Sessions
        {% if is_granted('ROLE_ADMIN') %}
            <small>
                <a href="{{ url('competition_session_create', { 'competition_id': competition.id }) }}">Add</a>
            </small>
        {% endif %}
    </h2>
    {% for session in competition.sessions %}
        <h3>
            {{ session.startTime|date(DATETIME_FORMAT) }}
            {% if is_granted('ROLE_ADMIN') or is_granted('ENTER', session) %}
                <small>
                    {% if is_granted('ROLE_ADMIN') %}
                        {% if is_granted('ENTER', session) %}
                            <a href="{{ url('competition_enter', { 'competition_id': competition.id, 'session_id': session.id }) }}">Enter</a>,
                        {% endif %}
                        {% if is_granted('START', session) %}
                            <a href="{{ url('competition_session_start', { 'competition_id': competition.id, 'session_id': session.id }) }}">Start</a>,
                        {% else %}
                            {% if is_granted('SCORE', session) %}
                                <a href="{{ url('competition_session_score', { 'competition_id': competition.id, 'session_id': session.id }) }}">Score</a>,
                            {% endif %}
                            {% if is_granted('END', session) %}
                                <a href="{{ url('competition_session_end', { 'competition_id': competition.id, 'session_id': session.id }) }}">End</a>,
                            {% endif %}
                        {% endif %}
                        <a href="{{ url('competition_session_edit', { 'competition_id': competition.id, 'id': session.id }) }}">Edit</a>,
                        <a href="{{ url('competition_session_delete', { 'competition_id': competition.id, 'id': session.id }) }}">Delete</a>
                    {% elseif is_granted('ENTER', session) %}
                        <a href="{{ url('competition_enter', { 'competition_id': competition.id, 'session_id': session.id }) }}">Enter</a>
                    {% endif %}
                </small>
            {% endif %}
        </h3>

        <dl>
            <dt>Rounds</dt>
            <dd>
                {% for round in session.rounds %}
                    {{ display.round(round.round) }}
                    {% if not loop.last %},{% endif %}
                {% endfor %}
            </dd>
            <dt>Spaces</dt>
            <dd>
                {{ session.freeSpaces }} left out of {{ session.totalSpaces }}
            </dd>
        </dl>

        <table>
            {% for entry in session.entries %}
                <tr>{% include ':competition:_detail_entry.html.twig' with { 'entry': entry, 'session': session } %}</tr>
            {% else %}
                <tr>
                    <td>There are no entries :(</td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <h3>There are no sessions!</h3>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                {% if competition.isOpen() %}
                    <li><a href="{{ url('competition_close', { 'id': competition.id }) }}">Close Entries</a></li>
                {% else %}
                    <li><a href="{{ url('competition_open', { 'id': competition.id }) }}">Open Entries</a></li>
                {% endif %}
                <li><a href="{{ url('competition_assign_targets', { 'id': competition.id }) }}">Assign Targets</a></li>
                <li><a href="{{ url('competition_edit', { 'id': competition.id }) }}">Edit</a></li>
                <li><a href="{{ url('competition_delete', { 'id': competition.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock %}
