{% extends '::base.html.twig' %}
{% import ':macro:display.html.twig' as display %}
{% from ':macro:filter.html.twig' import link, arrayLink %}

{% macro filter(f, t, v) %}

{% endmacro %}

{% block title %}
    {{ display.competition(competition) }} - Results
{% endblock %}

{% block body %}
    <div>
        <h3>Filter Results</h3>

        <div>
            [ {{ link('team', 'true', 'Team') }} / {{ link('team', null, 'Ind') }} ]
            [ {{ link('gender', Enum.gender.male, 'Male') }} / {{ link('gender', Enum.gender.female, 'Female') }} ]
            [ {{ link('skill', Enum.skill.senior, 'Senior') }} / {{ link('skill', Enum.skill.novice, 'Novice') }} ]
            [ {{ arrayLink('bowtype', Enum.bowtype.recurve, 'Recurve') }}
                , {{ arrayLink('bowtype', Enum.bowtype.barebow, 'Barebow') }}
                , {{ arrayLink('bowtype', Enum.bowtype.longbow, 'Longbow') }}
                , {{ arrayLink('bowtype', Enum.bowtype.traditional, 'Traditional') }}
                , {{ arrayLink('bowtype', Enum.bowtype.compound, 'Compound') }} ]
        </div>
        <div>
            [
            {% for session in competition.sessions %}
                {{ link('session', session.id, session.startTime|date(DATETIME_FORMAT)) }}
                {% if not loop.last %}/{% endif %}
            {% endfor %}
            ]
        </div>
    </div>

    <table>
        {% set lastPosition = 0 %}

        {% for result in results %}
            <tr>
                <td class="shrink">
                    {% if result.position != lastPosition %}
                        {{ result.position }}
                    {% endif %}
                </td>
                <td>{{ display.person(result.person) }}</td>
                <td>{{ display.club(result.club) }}</td>
                <td class="shrink">
                    <a href="{{ url('score_detail', { 'id': result.score.id }) }}">
                        {% if result.highPrecision %}
                            {{ result.score.score }} ({{ result.score.golds }}G, {{ result.score.hits }}H)
                        {% else %}
                            {{ result.score.score }}
                        {% endif %}
                    </a>
                </td>
            </tr>

            {% set lastPosition = result.position %}
        {% else %}
            <tr>
                <td>No results</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}