{% extends '::base.html.twig' %}
{% import ':macro:display.html.twig' as display %}
{% from ':macro:filter.html.twig' import link, arrayLink %}

{% macro filter(f, t, v) %}

{% endmacro %}

{% block title %}
    {{ display.competition(competition) }} - Results
{% endblock %}

{% block body %}
    <div>
        <h3>Filter Results</h3>

        <div>
            [ {{ link('team', 'true', 'Team') }} / {{ link('team', null, 'Ind') }} ]
            [ {{ link('gender', Enum.gender.male, 'Male') }} / {{ link('gender', Enum.gender.female, 'Female') }} ]
            [ {{ link('skill', Enum.skill.senior, 'Senior') }} / {{ link('skill', Enum.skill.novice, 'Novice') }} ]
            [ {{ arrayLink('bowtype', Enum.bowtype.recurve, 'Recurve') }}
            , {{ arrayLink('bowtype', Enum.bowtype.barebow, 'Barebow') }}
            , {{ arrayLink('bowtype', Enum.bowtype.longbow, 'Longbow') }}
            , {{ arrayLink('bowtype', Enum.bowtype.traditional, 'Traditional') }}
            , {{ arrayLink('bowtype', Enum.bowtype.compound, 'Compound') }} ]
        </div>
        <div>
            [
            {% for session in competition.sessions %}
                {{ link('session', session.id, session.startTime|date(DATETIME_FORMAT)) }}
                {% if not loop.last %}/{% endif %}
            {% endfor %}
            ]
        </div>
    </div>

    <table>
        {% set lastPosition = 0 %}

        {% for result in results %}
            <tr>
                <td class="shrink">
                    {% if result.position != lastPosition %}
                        {{ result.position }}
                    {% endif %}
                </td>
                {% if not result.team %}
                    <td>{{ display.person(result.person) }}</td>
                {% endif %}
                <td>{{ display.club(result.club) }}</td>
                <td class="shrink">
                    {% include 'competition/_result_score.html.twig' with { 'result': result } only %}
                </td>
            </tr>



            {% if result.team %}
                <tr>
                    <td></td>
                    <td colspan="2">
                        <table>
                            {% for subResult in result.results %}
                                <tr>
                                    <td>{{ display.person(subResult.person) }}</td>
                                    <td class="shrink">
                                        {% include 'competition/_result_score.html.twig' with { 'result': subResult } only %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            {% endif %}

            {% set lastPosition = result.position %}
        {% else %}
            <tr>
                <td>No results</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}