{% extends 'base.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    {{ session.competition.name }} - {{ session.startTime | date(DATETIME_FORMAT) }}
{% endblock %}

{% block body %}
    <div id="scoring_app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ socketio_url }}/socket.io/socket.io.js"></script>
    <script src="{{ asset('js/scoring.js') }}"></script>
    <script>
        'use strict';

        (function (competition) {
            var rounds = {{ rounds|json_encode|raw }};
            var targets = {{ targets|json_encode|raw }};

            m.module($("#scoring_app")[0], {
                controller: function() {
                    return new competition.controller({
                        sessionId: '{{ session.id }}',
                        rounds: rounds,
                        targets: targets,

                        urls: {
                            'socket.io': '{{ socketio_url }}'
                        }
                    });
                },
                view: competition.view
            });
        })(window['orbital']['competition']);
    </script>

{% endblock %}
