{% import ':macro:display.html.twig' as display %}

<table>
    {% for match in matches %}
        <tr>
            <td class="shrink">
                {{ match.dateChallenged|date(DATETIME_FORMAT) }}
            </td>
            <td>
                {{ display.person(match.challenger.person, match.challengerWon ? 'text-strong' ) }}
            </td>
            <td>
                {{ display.person(match.challengee.person, match.challengeeWon ? 'text-strong' ) }}
            </td>
            <td class="shrink">
                {{ display.round(match.round) }}
            </td>
            {% if is_granted('ACCEPT', match) %}
                <td class="actions">
                    <a href="{{ url('league_match_accept', { 'id': league.id, 'match_id': match.id }) }}">
                        <i class="fa fa-check"></i>
                    </a>
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr><td>There have been no matches yet!</td></tr>
    {% endfor %}
</table>


