{% import ':macro:display.html.twig' as display %}

<span class="text shrink">
    {{ match.dateChallenged|date('d/m/Y H:i') }}
</span>
<span class="text">
    {{ display.person(match.challenger.person, (match.accepted and match.result) ? 'text-strong' ) }}
</span>
<span class="text">
    {{ display.person(match.challengee.person, (match.accepted and not match.result) ? 'text-strong' ) }}
</span>
<span class="text shrink">
    {{ display.round(match.round) }}
</span>
{% if is_granted('ROLE_ADMIN') and not match.dateConfirmed %}
    <span class="actions">
        <a href="{{ url('league_match_accept', { 'id': league.id, 'match_id': match.id }) }}">
            <i class="fa fa-check"></i>
        </a>
    </span>
{% endif %}
