{% import ':macro:display.html.twig' as display %}

{{ display.league(league) }}
{% if is_granted('SIGNUP', league) or is_granted('SUBMIT', league) %}
    <span class="actions">
        {% if is_granted('SIGNUP', league) %}
            <a href="{{ url('league_signup', { 'id': league.id }) }}">
                <i class="fa fa-sign-in" title="Join this League"></i>
            </a>
        {% endif %}
        {% if is_granted('SUBMIT', league) %}
            <a href="{{ url('league_submit', { 'id': league.id }) }}">
                <i class="fa fa-file-text" title="Submit a Match"></i>
            </a>
        {% endif %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('league_edit', { 'id': league.id }) }}"><i class="fa fa-pencil"></i></a>
            <a href="{{ url('league_delete', { 'id': league.id }) }}"><i class="fa fa-trash-o"></i></a>
        {% endif %}
    </span>
{% endif %}
