{% extends '::base_sidebar.html.twig' %}

{% block title %}
    Leagues
{% endblock %}

{% block body %}
    <ul class="list">
        {% for league in leagues %}
            <li>
                <a href="{{ url('league_detail', { 'id': league.id }) }}">{{ league.name }}</a>
                {% if is_granted('ROLE_ADMIN')  or is_granted('SIGNUP', league) or is_granted('SUBMIT', league) %}
                    <span class="actions">
                    {% if is_granted('SIGNUP', league) %}
                        <a href="{{ url('league_signup', { 'id': league.id }) }}">
                            <i class="fa fa-sign-in" title="Join this League"></i>
                        </a>
                    {% endif %}
                        {% if is_granted('SUBMIT', league) %}
                            <a href="{{ url('league_submit', { 'id': league.id }) }}">
                                <i class="fa fa-file-text" title="Submit a Match"></i>
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ url('league_edit', { 'id': league.id }) }}"><i class="fa fa-pencil"></i></a>
                            <a href="{{ url('league_delete', { 'id': league.id }) }}"><i class="fa fa-trash-o"></i></a>
                        {% endif %}
                </span>
                {% endif %}
            </li>
        {% else %}
            <li>No Leagues :(</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('league_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
