{% extends '::base_sidebar.html.twig' %}
{% import ':macro:display.html.twig' as display %}
{% from ':macro:proof.html.twig' import display_proof %}

{% block title %}
    Confirm League Match Claim
{% endblock %}
{% block body %}
    {{ form_start(form) }}

    <p>
        Please review the following proof for this league match:
    </p>
    <dl>
        <dt>Challenger</dt>
        <dd>{{ display.leaguePerson(match.challenger) }}</dd>
        <dt>Challengee</dt>
        <dd>{{ display.leaguePerson(match.challengee) }}</dd>
        <dt>Accepted</dt>
        <dd>{{ match.accepted ? 'Yes' : 'No' }}</dd>
        {% if match.accepted %}
            <dt>Winner</dt>
            <dd>{{ display.leaguePerson(match.winner) }}</dd>
        {% endif %}
        <dt>Date Challenged</dt>
        <dd>{{ match.dateChallenged|date('d/m/Y') }}</dd>
    </dl>

    {{ display_proof(match.proofs, false) }}

    <div>
        <input type="submit" value="Confirm"> | <a href="{{ url('league_detail', { id: match.league.id }) }}">Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
