<div class="widget">
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <h2 class="widget-title">{{ app.user.displayName }}</h2>
        <ul>
            <li><a href="{{ url('person_detail', { 'id': app.user.id }) }}">View my Profile</a></li>
            <li><a href="{{ url('fos_user_security_logout') }}">Logout</a></li>
        </ul>
    {% else %}
        <h2 class="widget-title">Login</h2>

        <form action="{{ path('fos_user_security_check') }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.getToken('authenticate') }}" />

            <div class="form-row">
                <input type="text" class="form-input" id="username" name="_username"/>
                <label for="username">Username</label>
            </div>

            <div class="form-row">
                <input class="form-input" type="password" id="password" name="_password"/>
                <label for="password">Password</label>
            </div>

            <button type="submit">login</button>
        </form>
    {% endif %}
</div>
