<ul class="menu">
    {# useful #}
    <li><a href="{{ url('person_list') }}">People</a></li>
    <li><a href="{{ url('record_list') }}">Records</a></li>
    <li><a href="{{ url('league_list') }}">Leagues</a></li>
    <li><a href="{{ url('competition_list') }}">Competitions</a></li>
    {# useful info #}
    <li><a href="{{ url('badge_list') }}">Badges</a></li>
    <li><a href="{{ url('club_list') }}">Clubs</a></li>

    {# not useful? #}
    <li><a href="{{ url('score_list') }}">Scores</a></li>

    {# reference #}
    <li><a href="{{ url('round_list') }}">Rounds</a></li>

</ul>
