<ul class="menu">
    <li><a href="{{ url('round_list') }}">Rounds</a></li>
    <li><a href="{{ url('club_list') }}">Clubs</a></li>
    <li><a href="{{ url('person_list') }}">People</a></li>
    <li><a href="{{ url('record_list') }}">Records</a></li>
    <li><a href="{{ url('league_list') }}">Leagues</a></li>
    <li><a href="{{ url('competition_list') }}">Competitions</a></li>
    <li><a href="{{ url('score_list') }}">Scores</a></li>
    <li><a href="{{ url('badge_list') }}">Badges</a></li>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <li class="menu-item-has-children">
        <a href="#">{{ app.user.displayName }}</a>
        <ul class="sub-menu">
            <li><a href="{{ url('person_detail', { 'id': app.user.id }) }}">View my Profile</a></li>
            <li><a href="{{ url('logout') }}">Logout</a></li>
        </ul>
    </li>
    {% endif %}
</ul>
