<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    {% set _head_title = block('title')|trim|striptags %}
    {% set _head_title = _head_title ? _head_title : 'Welcome!' %}
    <title>ORBITAL - {{ _head_title }}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <script src="{{ asset('js/head.js') }}"></script>
</head>
<body>
<header class="page-header">
    <div class="brand-image" layout="row" layout-align="start end">
        <a href="{{ url('homepage') }}" flex>
            <img src="{{ asset('images/logo.png') }}" alt="ORBITAL">
        </a>
        <button class="menu-toggle" icac-toggle="#menu-main-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
    <nav>
        {% include '_nav.html.twig' %}
    </nav>
</header>

<main id="content" layout="column" layout-gt-md="row">
    {% block content %}
        <div id="primary" flex>
            {% set _title_block = block('title') %}
            {% if _title_block is not empty %}
                <h1 class="page-title">{{ _title_block|trim|raw }}</h1>
            {% endif %}
            <div class="card">
                {% block body %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}
</main>

<footer class="page-footer">
    Footer!
</footer>

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
