<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    {% set _head_title = block('title')|trim|striptags %}
    {% set _head_title = _head_title ? _head_title : 'Welcome!' %}
    <title>ORBITAL - {{ _head_title }}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {% block head_javascripts %}
    <script src="{{ asset('js/vendors.js') }}"></script>
    <script src="{{ asset('js/head.js') }}"></script>
    {% endblock %}
</head>
<body>
<header id="page-header">
    <div class="main-header-bar">
        <a href="{{ url('homepage') }}" class="logo">
            <img src="{{ asset('images/logo-2.png') }}" alt="ORBITAL">
        </a>
        <button class="menu-toggle" icac-toggle="#main-menu">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <nav id="main-menu">
        {% include '_nav.html.twig' %}
    </nav>
</header>

<main id="content">
    {% set _title_block = block('title') %}
    {% if _title_block is not empty %}
        <h1 class="page-title">{{ _title_block|trim|raw }}</h1>
    {% endif %}
    <div class="card">
        {% block body %}

        {% endblock %}
    </div>
</main>

<div id="side-menu" role="complementary">
    {% block sidebar %}
        {% include '_auth.html.twig' %}
        {% include '_tools.html.twig' %}
    {% endblock %}

    <div class="widget">
        <ul>
            <li>
                <small>
                    <a href="https://github.com/ICAC/orbital/commit/{{ app_version }}">version {{ app_release }}</a>
                </small>
            </li>
        </ul>
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
</body>
</html>
