<table>
    <tr>
        <td style="width: 50%" class="text-left">
            {% if entry.person %}
                {{ entry.person.name }} -
                {% if entry.club %}
                    {{ entry.club.name }}
                {% else %}
                    {{ entry.person.club.name }}
                {% endif %}
            {% else %}
                <div class="entry text-right">
                    {% if entry.club %}
                        {{ entry.club.name }}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </div>
            {% endif %}
        </td>
        <td class="text-center">
            {{ entry.round.name }}
        </td>
        <td class="text-right">
            {{ entry.gender|enum('gender') }}
            {{ entry.skill|enum('skill') }}
            {{ entry.bowtype|enum('bowtype') }}
        </td>
    </tr>
</table>

{% include ':pdf:_scoresheet_round.pdf.twig' with { 'round': entry.round } only %}

<table>
    <tr>
        <td>
            <div class="entry">Shooter:</div>
        </td>
        <td>
            <div class="entry">Scorer:</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" class="text-center" style="padding-top: 0.25cm">
            {{ entry.id | barcode }}
        </td>
    </tr>
</table>
