<h2>New Records</h2>
{% for record in records %}
    <h3>{{ record.record.displayName }}
        {% spaceless %}
            <span>({{ record.date|date('d/m/Y') }}</span>
            {% if record.dateBroken %}
                <span> - {{ record.dateBroken|date('d/m/Y') }}</span>
            {% endif %}
            <span>)</span>
        {% endspaceless %}
    </h3>

    <ul class="list">
        {% for person in record.people %}
            <li>
                <a href="{{ url('person_detail', {'id': person.person.id}) }}">{{ person.person.name }}</a>
                {% if person.score %}
                    <a href="{{ url('score_detail', { 'id': person.score.id }) }}" class="shrink">
                        {{ person.scoreValue }}
                    </a>
                {% else %}
                    <span class="text shrink">{{ person.scoreValue }}</span>
                {% endif %}
            </li>
        {% endfor %}
        {% if record.record.numHolders > 1 %}
            <li>
                <span class="text">Total</span>
                <span class="text shrink">{{ record.score }}</span>
            </li>
        {% endif %}
    </ul>
{% endfor %}
