{% extends '::base.pdf.twig' %}

{% block title %}
    <h1>{{ competition.name }}</h1>
    <h2>{{ competition.date|date(DATETIME_FORMAT) }}</h2>
{% endblock %}

{% block content %}
    {% set show_round = competition.rounds.count() > 1 %}

    <table>
        {% for entry in competition.entries %}
            <tr>
                <td style="width: 2cm;">{{ entry.bossNumber }}{{ entry.targetNumber|toLetter }}</td>
                {% if entry.person %}
                    <td>{{ entry.person }}</td>
                {% endif %}
                {% if entry.club %}
                    <td>{{ entry.club }}</td>
                {% else %}
                    <td>{{ entry.person.club }}</td>
                {% endif %}

                {% if show_round %}
                    <td>{{ entry.round }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}
