{% extends '::base.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    {{ badge.name }}
{% endblock %}

{% block body %}
    {% if badge.imageName %}
        <img src="{{ asset('uploads/' ~ badge.imageName) }}" alt="{{ badge.name }}"/>
    {% endif %}
    <p>
        {{ badge.description }}
    </p>

    <h2>People who have this</h2>
    <ul class="list">
        {% for holder in badge.holders %}
            <li>
                <span class="text shrink">{{ holder.dateAwarded|date('d/m/Y') }}</span>
                {{ display.person(holder.person) }}
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="actions">
                        {% include '::badge/state.html.twig' with { 'badge': holder } only %}
                        <a href="{{ url('badge_award_edit', { 'id': badge.id, 'award_id': holder.id }) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="{{ url('badge_award_delete', { 'id': badge.id, 'award_id': holder.id }) }}">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </span>
                {% endif %}
            </li>
        {% else %}
            <li>
                <span class="text">Nobody has this! You could be the first...</span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                {% if not is_granted('ROLE_ADMIN') and is_granted('CLAIM', badge) %}
                    <li><a href="{{ url('badge_award', { 'badge': badge.id }) }}">Claim</a></li>
                {% elseif is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('badge_award', { 'badge': badge.id }) }}">Award</a></li>
                    <li><a href="{{ url('badge_edit', { 'id': badge.id }) }}">Edit</a></li>
                    <li><a href="{{ url('badge_delete', { 'id': badge.id }) }}">Delete</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
