{% extends '::base_sidebar.html.twig' %}

{% block body %}
    <h1>Badges</h1>

    <ul>
        {% for badge in badges %}
            <li>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('badge_delete', { 'id': badge.id }) }}"><i class="fa fa-trash-o"></i></a>
                    <a href="{{ url('badge_edit', { 'id': badge.id }) }}"><i class="fa fa-pencil"></i></a>
                {% endif %}
                <a href="{{ url('badge_detail', { 'id': badge.id }) }}">
                    {{ badge.name }}
                </a>
            </li>
        {% else %}
            <li>No Badges :(</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('badge_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}