{% extends '::base_sidebar.html.twig' %}
{% import ':macro:display.html.twig' as display %}
{% from ':macro:proof.html.twig' import display_proof %}

{% block title %}
    Confirm Badge Claim
{% endblock %}
{% block body %}
    {{ form_start(form) }}

    <p>
        Please review the following proof for this badge claim:
    </p>
    <dl>
        <dt>Badge</dt>
        <dd>{{ display.badge(badge.badge) }}</dd>
        <dt>Person</dt>
        <dd>{{ display.person(badge.person) }}</dd>
        <dt>Date Claimed</dt>
        <dd>{{ badge.dateAwarded|date('d/m/Y') }}</dd>
    </dl>

    {{ display_proof(badge.proof, false) }}

    <div>
        <input type="submit" value="Confirm"> | <a href="{{ url('badge_detail', { id: badge.badge.id }) }}">Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
