{% extends '::base_sidebar.html.twig' %}

{% block title %}
    Confirm Badge Claim
{% endblock %}
{% block body %}
    {{ form_start(form) }}

    <p>
        Please review the following proof for this badge claim:
    </p>
    <dl>
        <dt>Badge</dt>
        <dd>{{ badge.badge.name }}</dd>
        <dt>Person</dt>
        <dd>{{ badge.person.name }}</dd>
        <dt>Date Claimed</dt>
        <dd>{{ badge.dateAwarded|date('d/m/Y') }}</dd>
    </dl>

    {% include '::proof.html.twig' with { 'proofs': badge.proof, 'expand': false } only %}

    <div>
        <input type="submit" value="Confirm"> | <a href="{{ url('badge_detail', { id: badge.badge.id }) }}">Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock %}
