{% macro person(person, class="") %}
    {% import _self as self %}
    {{ self.entity_link(url('person_detail', { 'id': person.id }), person.displayName, class) }}
{% endmacro %}

{% macro record(record, class="") %}
    {% import _self as self %}
    {{ self.entity_link(url('record_detail', { 'id': record.id }), record.displayName, class) }}
{% endmacro %}

{% macro round(round, class="") %}
    {% import _self as self %}
    {{ self.entity_link(url('round_detail', { 'id': round.id }), round.name, class) }}
{% endmacro %}

{% macro score(score, class="") %}
    {% import _self as self %}
    {{ self.entity_link(url('score_detail', { 'id': score.id }), score.score, class) }}
{% endmacro %}

{% macro badge(badge, class="") %}
    {% import _self as self %}
    {{ self.entity_link(url('badge_detail', { 'id': badge.id }), badge.name, class) }}
{% endmacro %}

{% macro club(club, class="") %}
    {% import _self as self %}
    {{ self.entity_link(url('club_detail', { 'id': club.id }), club.name, class) }}
{% endmacro %}

{% macro competition(competition, class="") %}
    {% import _self as self %}
    <a>{{ competition.name }}</a>
{% endmacro %}

{% macro league(league, class="") %}
    {% import _self as self %}
    {{ self.entity_link(url('league_detail', { 'id': league.id }), league.name, class) }}
{% endmacro %}
{% macro leaguePerson(leaguePerson, class="") %}
    {% import _self as self %}
    {{ self.person(leaguePerson.person, class) }}
{% endmacro %}

{% macro entity_link(url, text, class="") %}
    <a href="{{ url }}"{% if class|length > 0 %} class="{{ class }}"{% endif %}>{{ text }}</a>
{% endmacro %}
