{% macro link(attr, value, text) %}
    {% if app.request.get(attr) == value %}
        <a class="text-strong"
           href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({(attr): null}))) }}">
            {{ text }}
        </a>
    {% else %}
        <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({(attr): value }))) }}">
            {{ text }}
        </a>
    {% endif %}
{% endmacro %}

{% macro filter_link(text, filterName) %}
    {% import _self as self %}
    {{  self.link('filter', text, filterName) }}
{% endmacro %}