{% extends '::base_sidebar.html.twig' %}
{% import ':macro/display.html.twig' as display %}

{% block title %}
    Clubs
{% endblock %}

{% block body %}
    <ul class="list">
        {% for club in clubs %}
            <li>
                {{ display.club(club) }}
                {% if is_granted('ROLE_ADMIN') %}
                    <span class="actions">
                        <a href="{{ url('club_edit', { 'id': club.id }) }}"><i class="fa fa-pencil"></i></a>
                        <a href="{{ url('club_delete', { 'id': club.id }) }}"><i class="fa fa-trash-o"></i></a>
                    </span>
                {% endif %}
            </li>
        {% else %}
            <li>No Clubs :(</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('club_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
