{% extends 'base.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    {{ round.name }}
{% endblock %}

{% block body %}
    <h2>
        {% if round.indoor %}
            Indoor - {{ round.category.name }}
        {% else %}
            Outdoor - {{ round.category.name }}
        {% endif %}
    </h2>

    <table>
        {% for target in round.targets %}
            <tr>
                <td>{{ target|measure('distance') }}</td>
                <td>{{ target|measure('target') }}</td>
                <td>{{ target.arrowCount }} arrows total in ends of {{ target.endSize }} arrows</td>
            </tr>
        {% else %}
            <tr colspan="3">
                There don't seem to be targets in the round.
            </tr>
        {% endfor %}
    </table>

    {% if records|length %}
        <h2>Records</h2>
        <table>
            {% for record in records %}
                <tr>
                    <td>{{ display.record(record) }}</td>
                    {% if record.currentHolder %}
                        <td class="shrink">{{ record.currentHolder.score }}</td>
                    {% else %}
                        <td class="shrink">Not broken</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h2 class="widget-title">Actions</h2>
            <ul>
                <li><a href="{{ url('round_edit', { 'id': round.id }) }}">Edit</a></li>
                <li><a href="{{ url('round_delete', { 'id': round.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
