{% extends 'base.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    {{ round.name }}
{% endblock %}

{% block body %}
    <table>
        {% for target in round.targets %}
            <tr>
                <td>{{ target|measure('distance') }}</td>
                <td>{{ target|measure('target') }}</td>
                <td>{{ target.arrowCount }} arrows total in ends of {{ target.endSize }} arrows</td>
            </tr>
        {% endfor %}
    </table>

    {% if round.records|length %}
        <h2>Records</h2>
        <table>
            {% for record in round.records %}
                <tr>
                    <td>{{ display.record(record) }}</td>
                    {% if record.currentHolder %}
                        <td class="shrink">{{ record.currentHolder.score }}</td>
                    {% else %}
                        <td class="shrink">Not broken</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('round_edit', { 'id': round.id }) }}">Edit</a></li>
                <li><a href="{{ url('round_delete', { 'id': round.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
