{% extends 'base_sidebar.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    {{ round.name }}
{% endblock %}

{% block body %}
    <ul class="list">
        {% for target in round.targets %}
            <li>
                <span class="text">{{ target|measure('distance') }}</span>
                <span class="text">{{ target|measure('target') }}</span>
                <span class="text">{{ target.arrowCount }} arrows total</span>
                <span class="text">in ends of {{ target.endSize }} arrows</span>
            </li>
        {% endfor %}
    </ul>

    {% if round.records %}
        <h2>Records</h2>
        <ul class="list">
            {% for record in round.records %}
                <li>
                    {{ display.record(record) }}
                    {% if record.currentHolder %}
                        <span class="text shrink">{{ record.currentHolder.score }}</span>
                    {% else %}
                        <span class="text shrink">Not broken</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('round_edit', { 'id': round.id }) }}">Edit</a></li>
                <li><a href="{{ url('round_delete', { 'id': round.id }) }}">Delete</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
