{% extends '::base_sidebar.html.twig' %}
{% import ':macro:display.html.twig' as display %}

{% block title %}
    Rounds
{% endblock %}

{% block body %}
    <ul class="list">
        {% for round in rounds %}
            <li>
                {{ display.round(round) }}
                {% if is_granted('ROLE_ADMIN') %}
                   <span class="actions">
                        <a href="{{ url('round_edit', { 'id': round.id }) }}"><i class="fa fa-pencil"></i></a>
                        <a href="{{ url('round_delete', { 'id': round.id }) }}"><i class="fa fa-trash-o"></i></a>
                    </span>
                {% endif %}
            </li>
        {% else %}
            <li>No Rounds :(</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if is_granted('ROLE_ADMIN') %}
        <div class="widget">
            <h3 class="widget-title">Actions</h3>
            <ul>
                <li><a href="{{ url('round_create') }}">Create</a></li>
            </ul>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
